body {
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
}

p {
  font-size: 24px;
}

/* Main container, fill 80% of the screen */
.container-main {
  display: block; /* don't use flexbox here */
  align-items: center;
  background-color: #d5e0e7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 80%;
  border-radius: 1rem;
  flex-wrap: nowrap;
}

.container-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.container-button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* force buttons to one column only, also set button width=100%*/
    align-items: center;
  }
  
  .button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 5px;
    border: 5px solid #d5e0e7;
    border-radius: 5px;
    width:100%;
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  .button:hover {
    background-color: #d5e0e7;
  }

/* Mobile Stuff */
@media (max-width: 600px) {
  .container-button {
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping */
    display: flex;
    flex-direction: column; /* Make items stack vertically */
  }
  .button {
    width: 100%; /* Make each button fill the width of the container */
    margin-bottom: 10px; /* Add margin between buttons */
  }
}
/*

*/