body {
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
}

p {
  font-size: 24px;
}

p + .small{
  font-size: 20px;
}

/* To avoid duplicate margins on paragraph following h1 */
h1 + p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Override footer font size */
.footer p {
  font-size: 20px;
}

/* Main container, fill 80% of the screen with a background */
.container-main {
  display: block;
  /* don't use flexbox here */
  align-items: center;
  background-color: #d5e0e7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 80%;
  border-radius: 1rem;
  flex-wrap: nowrap;
}

/* Container for the text */
.container-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

/* Force buttons to one column */
.container-button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.button {
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 5px;
  border: 5px solid #d5e0e7;
  border-radius: 5px;
  width: 100%;
  white-space: nowrap;
  /* Prevents text from wrapping */
}

.button:hover {
  background-color: #d5e0e7;
}

/* In case we really get squeezed */
@media (max-width: 275px) {
  .button {
    width: 70%;
  }
}